/* Syudio*/
.header {
    background-color: var(--primary-background-color);
}

.flex-container {
    display: flex;
    align-items: center;
}
/* ==========logo========= */


.logo {
    display: inline-block;
    margin-right: 90px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-logo-color);
}

.logo-footer {
    margin-bottom: 30px;
    margin-right: 0;
}

.logo-header-color {
    color: var(--logo-header-color);
}


/* ==========navigation========= */
.site-nav {
    display: flex;
}

.site-list:not(:last-child) {
    margin-right: 50px;
}


.nav-link {
        display: block;
        padding:32px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-logo-color);
}



/* ==========auth-nav========= */ 

.auth-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}



.auth-list:not(:last-child) {
    margin-right: 40px;
}
.auth-nav {
    display: flex;
   
}

.section-auth {
    margin-left: auto;
}


.auth-link:hover,
.auth-link:focus {
    color: var(--primary-logo-color);
}

.auth-link:hover .icon-envelope,
.auth-link:focus .icon-envelope {
    fill: var(--primary-logo-color);
}

.icon {
margin-right: 10px;
height: 16px;
fill: var(--primary-text-color);
}

.icon-smartphone {
width: 10px;
}

.icon-envelope {
    width: 12px;
}

.auth-link:focus .icon,
.auth-link:hover .icon {
    fill: var(--primary-logo-color);
}
/* ==========hero========= */

.heading {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-background-color);

        
        margin-top: 0;
        margin-bottom: 30px;
        
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--footer-background-color);
    text-align: center;
    background-image: linear-gradient(to bottom, var(--overlay-color), var(--overlay-color)),
    url("../../images/hero.jpg");
}




/* ========= section advantages ========= */
.advantages-list {
    display: flex;
   
}

.advantages-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    
}

.advantages-item:not(:last-child) {
margin-right: 30px;
}

.advantages-icon {
  width: 270px;  
  height: 120px;
  padding: 25px 100px; 
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.advantages-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--primary-text-color);
}

/* ========= section jobs-list ========= */

.jobs-list {
    display: flex;
    
}

.jobs-item:not(:last-child) {
    margin-right: 30px;
}
/* ========= section team ========= */
.section-team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    
margin-right: 30px;
/*margin-bottom: 30px;*/


box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

/*.team-item:nth-last-child(-4n + 4) {
    margin-bottom: 0;
}*/

.person-list {
    display: flex;
    align-items: center;
    justify-content: center;

  

}

.person-list-link:not(:last-child) {
    margin-right: 10px;
}

.icon-team {
  
    fill: var(--primary-icon-color);
   
}

.person-link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
}


.person-link:hover {
    
    border-radius: 50%;
    background-color: var(--primary-logo-color);
}

.person-link:hover .icon-team {
    fill: var(--primary-background-color);
}

.team-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--primary-text-color);

        margin-bottom: 16px;
}

.team-subtitle {
    text-align: center;
}

.subtitle-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ========= section customers ========= */

.clients {
    display: flex;
}



.client-link {
display: flex;
width: 100%;
height: 100%;
padding: 16px 32px;
border: 1px solid var(--primary-icon-color);
border-radius: var(--border-radius-btn);
background-position: center;
color: var(--primary-icon-color);
}

.client-link:hover {
    border: 1px solid var(--primary-logo-color);
}

.client-link:hover .client-icon {
    fill: var(--primary-logo-color);
}
.client-item {
    width: 170px;
    height: 92px;
}

.client-item:not(:last-child) {
margin-right: 30px;
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ========= footer ========= */
.footer {
    background-color: var(--footer-background-color);
    
}


.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}


.logo-footer-color {
    color: var(--primary-background-color);
}

.footer-address-item:not(:last-child) {
    margin-bottom: 12px;
}


.address-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
}



.address-link:hover,
.address-link:focus {
    color: var(--primary-logo-color);
}

.map {
    color: var(--primary-background-color);
}



/*=========Portfolio==========*/
/* ====Button=== */
.btn-menu {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        color: var(--secondary-text-color);
        background-color: #F5F4FA;

        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border: 1px solid transparent var(--btn-portfolio-menu-color);
        border-radius: var(--border-radius-btn);

}

.btn-menu:not(:last-child) {
    margin-right: 8px;
}

.btn-menu:hover,
.btn-menu:focus {
    color: var(--primary-background-color);
    background-color: var(--primary-logo-color);
}

.btn-menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
/* ===<li class="product">==== */

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.product:not(:nth-child(3n)) {
    margin-right: 30px;
}

.product:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.product-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--secondary-text-color);
        text-align: left;
}

.product-paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        color: var(--primary-text-color);
        text-align: left;
}

.product-title-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--border-color);
    

}

/* ====Button=== */



/* ====Button=== */



/* ====Button=== */




/*Contacts*/